<div class="container">
    <div class="row">
        <div class="col-2">
            <aside
                class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
                id="sidenav-main">
                <div class="sidenav-header">
                    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                        aria-hidden="true" id="iconSidenav"></i>
                    <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
                        target="_blank">
                        <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
                        <span class="ms-1 font-weight-bold text-white">Li Bess</span>
                    </a>
                </div>
                <hr class="horizontal light mt-0 mb-2">
                <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white active bg-gradient-primary" routerLink="articles" routerLinkActive="router-link-active" >
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">dashboard</i>
                                </div>
                                <span class="nav-link-text ms-1">Mes Articles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink="ajout-article" routerLinkActive="router-link-active" >
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">table_view</i>
                                </div>
                                <span class="nav-link-text ms-1">Ajouter Article</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " routerLink="list-article" routerLinkActive="router-link-active" >
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">receipt_long</i>
                                </div>
                                <span class="nav-link-text ms-1">Listes Articles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " routerLink="comments" routerLinkActive="router-link-active" >
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">view_in_ar</i>
                                </div>
                                <span class="nav-link-text ms-1">Commentaires</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " routerLink="corbeille" routerLinkActive="router-link-active" >
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">view_in_ar</i>
                                </div>
                                <span class="nav-link-text ms-1">Corbeille</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                    <div class="mx-3">
                        <a class="btn bg-gradient-primary w-100" type="button">Deconnexion</a>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-10">
            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
                    data-scroll="true">
                    <div class="container-fluid py-1 px-3">
                        <nav aria-label="breadcrumb">
                            <h6 class="font-weight-bolder mb-0">Espace personnel <span class="dashboard-street">accueil</span></h6>
                        </nav>
                        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                                <div class="input-group input-group-outline">
                                    <label class="form-label">Rechercher ?</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <ul class="navbar-nav  justify-content-end">
                                <li class="nav-item d-flex align-items-center">
                                    <a class="auth nav-link text-body font-weight-bold px-0" (click)="displayList()">
                                        <span class="transi d-sm-inline d-none me-2">{{authName}}</span>
                                        <i class="fa-solid fa-chevron-up" *ngIf="stateClick"></i>
                                        <i class="fa-solid fa-chevron-down" *ngIf="!stateClick"></i>
                                    </a>
                                    <ul class="display-list" *ngIf="stateClick">
                                        <li class="li"><a href="#">Profil</a></li>
                                        <li class="li"><a href="accueil">Espace partagé</a></li>
                                        <li class="li"><a href="">Deconnexion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
